---
---
<div class:list={[
    "w-full",
    "mt-16 sm:mt-32",
    "pt-1",
    "text-center",
    "text-xs sm:text-sm",
    "text-rose-pine-muted",
    "border-t",
    "border-t-rose-pine-highlight-high",
]}>
    <a href="https://likes.fyi">likes.fyi</a>
    is hand-made with love in the great Pacific Northwest. Source code available
    soon.
</div>
