---
---
<div class:list={[
    // enable tailwind typography
    "prose",

    // make the body text bigger and give it some breathing room
    "sm:prose-p:text-xl",
    "prose-p:leading-6 sm:prose-p:leading-8",
    "prose-p:text-justify",

    // give the "logotype" some styling
    "prose-strong:text-xl sm:prose-strong:text-2xl",
    "prose-strong:font-bold",

    // colors
    "prose-p:text-rose-pine-text",
    "prose-strong:text-rose-pine-love",
    "prose-h1:text-rose-pine-love",
    "prose-a:text-rose-pine-foam",
]}>
    <slot />
</div>
