---
const { frontmatter } = Astro.props;
const title = frontmatter.title;

import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title={title}>
    <div class="flex flex-col sm:min-h-screen justify-center items-center">
        <Prose>
            <slot />
        </Prose>
    </div>

</BaseLayout>
