---
const { frontmatter } = Astro.props;
const title = frontmatter.title;

import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout title={title}>
    <div class="mx-8 flex flex-col min-h-screen justify-center items-center">
        <Prose>
            <slot />
        </Prose>
    </div>
</BaseLayout>
